:root {
  --border-fail-primary: var(--error-6);
  --border-infomation-primary: var(--info-6);
  --border-normal-light: var(--gray-2);
  --border-normal-primary: var(--gray-4);
  --border-radius-allround: 99;
  --border-radius-big: 12;
  --border-radius-extra-small-2: 6;
  --border-radius-large: 16;
  --border-radius-middle: 10;
  --border-radius-none: 0;
  --border-radius-small: 8;
  --border-success-primary: var(--success-6);
  --border-theme-primary: var(--primary-6);
  --border-thickness-default: 1;
  --border-thickness-large: 3;
  --border-thickness-middle: 2;
  --border-thickness-none: 0;
  --border-warning-primary: var(--warning-6);
  --box-fail-lightBackground: var(--error-1);
  --box-fail-primaryBackground: var(--error-6);
  --box-fail-secondaryBackground: var(--error-2);
  --box-infomation-lightBackground: var(--info-1);
  --box-infomation-primaryBackground: var(--info-6);
  --box-infomation-secondaryBackground: var(--info-2);
  --box-normal-Background-blackOnly: var(--gray-12);
  --box-normal-Background-whiteOnly: var(--neutral-1);
  --box-normal-lightBackground-black: var(--gray-12);
  --box-normal-lightBackground-white: var(--neutral-2);
  --box-success-lightBackground: var(--success-1);
  --box-success-primaryBackground: var(--success-6);
  --box-success-secondaryBackground: var(--success-2);
  --box-theme-lightBackground: var(--primary-1);
  --box-theme-primaryBackground: var(--primary-6);
  --box-theme-secondaryBackground: var(--primary-2);
  --box-warning-lightBackground: var(--warning-1);
  --box-warning-primaryBackground: var(--warning-6);
  --box-warning-secondaryBackground: var(--warning-2);
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-semilight: 350;
  --gap-block-space: 14;
  --gap-chapter-space: 18;
  --gap-component-space: 8;
  --gap-content-space: 10;
  --gap-inside: 4;
  --gap-inside-space: 6;
  --gap-none: 0;
  --gap-page-space: 24;
  --icon-boldness: Standard;
  --line-height-big: 32;
  --line-height-huge: 52;
  --line-height-large: 46;
  --line-height-max: 44;
  --line-height-middle: 28;
  --line-height-regular: 24;
  --line-height-semilarge: 38;
  --line-height-small: 20;
  --line-height-tiny: 16;
  --nb-color-bg: var(--control-normal-lightBackground-white);
  --nb-color-border: var(--border-normal-light);
  --nb-color-border-strong: var(--border-normal-primary);
  --nb-color-danger: var(--control-fail-Background);
  --nb-color-danger-active: var(--error-10);
  --nb-color-danger-fg: var(--text-normal-title-white);
  --nb-color-danger-hover: var(--error-9);
  --nb-color-danger-soft: var(--box-fail-lightBackground);
  --nb-color-danger-soft-active: var(--error-3);
  --nb-color-danger-soft-hover: var(--error-2);
  --nb-color-fg: var(--text-normal-title-black);
  --nb-color-input-bg: var(--control-normal-lightBackground-white);
  --nb-color-muted: var(--control-normal-lightBackground-white);
  --nb-color-muted-active: var(--neutral-8);
  --nb-color-muted-fg: var(--text-normal-text-black);
  --nb-color-muted-hover: var(--neutral-7);
  --nb-color-primary: var(--control-theme-Background);
  --nb-color-primary-active: var(--primary-8);
  --nb-color-primary-fg: var(--text-normal-title-white);
  --nb-color-primary-hover: var(--primary-7);
  --nb-color-primary-ink: var(--text-theme-primary-black);
  --nb-color-primary-soft: var(--control-theme-lightBackground);
  --nb-color-primary-soft-active: var(--primary-4);
  --nb-color-primary-soft-hover: var(--primary-3);
  --nb-color-ring: var(--control-theme-lightBackground);
  /* --nb-color-special: var(--control-infomation-Background);
  --nb-color-special-active: var(--info-10);
  --nb-color-special-fg: var(--text-normal-title-white);
  --nb-color-special-hover: var(--info-9);
  --nb-color-special-ink: var(--text-infomation-primary-black);
  --nb-color-special-soft: var(--box-infomation-lightBackground);
  --nb-color-special-soft-active: var(--info-3);
  --nb-color-special-soft-hover: var(--info-2); */
  --nb-color-surface: var(--control-normal-lightBackground-whiteOnly);
  --nb-color-surface-active: var(--neutral-4);
  --nb-color-surface-hover: var(--neutral-3);
  --normal-background-theme: var(--primary-1);
  --padding-big: 14;
  --padding-default: 8;
  --padding-large: 18;
  --padding-max: 28;
  --padding-middle: 10;
  --padding-min: 2;
  --padding-none: 0;
  --padding-small: 6;
  --padding-tiny: 4;
  --size-big: 20;
  --size-huge: 30;
  --size-large: 26;
  --size-max: 38;
  --size-middle: 20;
  --size-regular: 18;
  --size-semilarge: 22;
  --size-small: 16;
  --size-tiny: 12;
  --text-fail-light-black: var(--error-2);
  --text-fail-primary-black: var(--error-8);
  --text-fail-secondary-black: var(--error-4);
  --text-infomation-light-black: var(--info-2);
  --text-infomation-primary-black: var(--info-8);
  --text-infomation-secondary-black: var(--info-4);
  --text-normal-text-black: var(--gray-9);
  --text-normal-text-caption-black: var(--gray-6);
  --text-normal-text-caption-white: var(--gray-1);
  --text-normal-text-white: var(--gray-1);
  --text-normal-title-black: var(--gray-11);
  --text-normal-title-white: var(--gray-1);
  --text-success-light-black: var(--success-2);
  --text-success-primary-black: var(--success-8);
  --text-success-secondary-black: var(--success-4);
  --text-theme-light-black: var(--primary-2);
  --text-theme-primary-black: var(--primary-8);
  --text-theme-secondary-black: var(--primary-4);
  --text-warning-light-black: var(--warning-3);
  --text-warning-primary-black: var(--warning-8);
  --text-warning-secondary-black: var(--warning-4);
  --transparency-disable: 55;
  --transparency-loading: 60;
  --transparency-placeholder: 60;
}

:root[data-theme="light"] {
  --control-fail-Background: var(--error-8);
  --control-fail-lightBackground: var(--error-2);
  --control-infomation-Background: var(--info-8);
  --control-infomation-lightBackground: var(--info-2);
  --control-normal-Background-black: var(--gray-3);
  --control-normal-Background-blackOnly: var(--gray-12);
  --control-normal-lightBackground-black: var(--neutral-7);
  --control-normal-lightBackground-white: var(--neutral-4);
  --control-normal-lightBackground-whiteOnly: var(--neutral-1);
  --control-success-Background: var(--success-8);
  --control-success-lightBackground: var(--success-2);
  --control-theme-Background: var(--primary-6);
  --control-theme-lightBackground: var(--primary-2);
  --control-warning-Background: var(--warning-8);
  --control-warning-lightBackground: var(--warning-2);
  --error-1: #FFEDE6;
  --error-10: #C6161C;
  --error-11: #B2000F;
  --error-12: #9F0000;
  --error-2: #FFC7B3;
  --error-3: #FF9C83;
  --error-4: #FF8A73;
  --error-5: #FF7964;
  --error-6: #FF6755;
  --error-7: #FF5646;
  --error-8: #ED4338;
  --error-9: #D92F2A;
  --gray-1: #FFFFFF;
  --gray-10: #454241;
  --gray-11: #312D2C;
  --gray-12: #1C1817;
  --gray-2: #EAEAEA;
  --gray-3: #D6D5D5;
  --gray-4: #C1C0C0;
  --gray-5: #ACABAB;
  --gray-6: #989696;
  --gray-7: #838180;
  --gray-8: #6F6C6B;
  --gray-9: #5A5756;
  --info-1: #EFF7FF;
  --info-10: #0566AE;
  --info-11: #00589D;
  --info-12: #004A8D;
  --info-2: #CBE6FF;
  --info-3: #9FD6FF;
  --info-4: #8DC5FF;
  --info-5: #7BB5FF;
  --info-6: #69A4F2;
  --info-7: #5694E1;
  --info-8: #4284D0;
  --info-9: #2B75BF;
  --neutral-1: #FFFFFF;
  --neutral-2: #FEFBFA;
  --neutral-3: #FCF7F6;
  --neutral-4: #FBF3F1;
  --neutral-5: #FAEFED;
  --neutral-6: #F9EBE8;
  --neutral-7: #F7E7E4;
  --neutral-8: #F6E3DF;
  --primary-1: #FFE2CF;
  --primary-10: #A70000;
  --primary-11: #920000;
  --primary-12: #7D0000;
  --primary-2: #FFB790;
  --primary-3: #FF9669;
  --primary-4: #FF8258;
  --primary-5: #FF6F47;
  --primary-6: #FF5C36;
  --primary-7: #E94825;
  --primary-8: #D33314;
  --primary-9: #BD1B01;
  --success-1: #E8FBED;
  --success-10: #007439;
  --success-11: #00642B;
  --success-12: #00551E;
  --success-2: #B7F3C8;
  --success-3: #82E9A4;
  --success-4: #71D794;
  --success-5: #5FC684;
  --success-6: #4EB574;
  --success-7: #3BA565;
  --success-8: #279456;
  --success-9: #0A8447;
  --warning-1: #FFF3D9;
  --warning-10: #945500;
  --warning-11: #824700;
  --warning-12: #723800;
  --warning-2: #FFDB8D;
  --warning-3: #FFC338;
  --warning-4: #FFB224;
  --warning-5: #F1A204;
  --warning-6: #DE9200;
  --warning-7: #CB8200;
  --warning-8: #B87300;
  --warning-9: #A66400;
}

:root[data-theme="dark"] {
  --control-fail-Background: var(--error-8);
  --control-fail-lightBackground: var(--error-2);
  --control-infomation-Background: var(--info-8);
  --control-infomation-lightBackground: var(--info-2);
  --control-normal-Background-black: var(--gray-3);
  --control-normal-Background-blackOnly: var(--gray-12);
  --control-normal-lightBackground-black: var(--neutral-7);
  --control-normal-lightBackground-white: var(--neutral-4);
  --control-normal-lightBackground-whiteOnly: var(--neutral-1);
  --control-success-Background: var(--success-8);
  --control-success-lightBackground: var(--success-2);
  --control-theme-Background: var(--primary-6);
  --control-theme-lightBackground: var(--primary-2);
  --control-warning-Background: var(--warning-8);
  --control-warning-lightBackground: var(--warning-2);
  --error-1: #9F0000;
  --error-10: #FF9C83;
  --error-11: #FFC7B3;
  --error-12: #FFEDE6;
  --error-2: #B2000F;
  --error-3: #C6161C;
  --error-4: #D92F2A;
  --error-5: #ED4338;
  --error-6: #FF5646;
  --error-7: #FF6755;
  --error-8: #FF7964;
  --error-9: #FF8A73;
  --gray-1: #1C1817;
  --gray-10: #D6D5D5;
  --gray-11: #EAEAEA;
  --gray-12: #FFFFFF;
  --gray-2: #312D2C;
  --gray-3: #454241;
  --gray-4: #5A5756;
  --gray-5: #6F6C6B;
  --gray-6: #838180;
  --gray-7: #989696;
  --gray-8: #ACABAB;
  --gray-9: #C1C0C0;
  --info-1: #004A8D;
  --info-10: #9FD6FF;
  --info-11: #CBE6FF;
  --info-12: #EFF7FF;
  --info-2: #00589D;
  --info-3: #0566AE;
  --info-4: #2B75BF;
  --info-5: #4284D0;
  --info-6: #5694E1;
  --info-7: #69A4F2;
  --info-8: #7BB5FF;
  --info-9: #8DC5FF;
  --neutral-1: #FFFFFF;
  --neutral-2: #FEFBFA;
  --neutral-3: #FCF7F6;
  --neutral-4: #FBF3F1;
  --neutral-5: #FAEFED;
  --neutral-6: #F9EBE8;
  --neutral-7: #F7E7E4;
  --neutral-8: #F6E3DF;
  --primary-1: #7D0000;
  --primary-10: #FF9669;
  --primary-11: #FFB790;
  --primary-12: #FFE2CF;
  --primary-2: #920000;
  --primary-3: #A70000;
  --primary-4: #BD1B01;
  --primary-5: #D33314;
  --primary-6: #E94825;
  --primary-7: #FF5C36;
  --primary-8: #FF6F47;
  --primary-9: #FF8258;
  --success-1: #00551E;
  --success-10: #82E9A4;
  --success-11: #B7F3C8;
  --success-12: #E8FBED;
  --success-2: #00642B;
  --success-3: #007439;
  --success-4: #0A8447;
  --success-5: #279456;
  --success-6: #3BA565;
  --success-7: #4EB574;
  --success-8: #5FC684;
  --success-9: #71D794;
  --warning-1: #723800;
  --warning-10: #FFC338;
  --warning-11: #FFDB8D;
  --warning-12: #FFF3D9;
  --warning-2: #824700;
  --warning-3: #945500;
  --warning-4: #A66400;
  --warning-5: #B87300;
  --warning-6: #CB8200;
  --warning-7: #DE9200;
  --warning-8: #F1A204;
  --warning-9: #FFB224;
}
