:root {
  --border-fail-primary: var(--error-6);
  --border-infomation-primary: var(--info-6);
  --border-normal-light: var(--gray-2);
  --border-normal-primary: var(--gray-4);
  --border-radius-allround: 99;
  --border-radius-big: 12;
  --border-radius-extra-small-2: 6;
  --border-radius-large: 16;
  --border-radius-middle: 10;
  --border-radius-none: 0;
  --border-radius-small: 8;
  --border-success-primary: var(--success-6);
  --border-theme-primary: var(--primary-6);
  --border-thickness-default: 1;
  --border-thickness-large: 3;
  --border-thickness-middle: 2;
  --border-thickness-none: 0;
  --border-warning-primary: var(--warning-6);
  --box-fail-lightBackground: var(--error-1);
  --box-fail-primaryBackground: var(--error-6);
  --box-fail-secondaryBackground: var(--error-2);
  --box-infomation-lightBackground: var(--info-1);
  --box-infomation-primaryBackground: var(--info-6);
  --box-infomation-secondaryBackground: var(--info-2);
  --box-normal-Background-blackOnly: var(--gray-12);
  --box-normal-Background-whiteOnly: var(--neutral-1);
  --box-normal-lightBackground-black: var(--gray-12);
  --box-normal-lightBackground-white: var(--neutral-2);
  --box-success-lightBackground: var(--success-1);
  --box-success-primaryBackground: var(--success-6);
  --box-success-secondaryBackground: var(--success-2);
  --box-theme-lightBackground: var(--primary-1);
  --box-theme-primaryBackground: var(--primary-6);
  --box-theme-secondaryBackground: var(--primary-2);
  --box-warning-lightBackground: var(--warning-1);
  --box-warning-primaryBackground: var(--warning-6);
  --box-warning-secondaryBackground: var(--warning-2);
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-semilight: 350;
  --gap-block-space: 14;
  --gap-chapter-space: 18;
  --gap-component-space: 8;
  --gap-content-space: 10;
  --gap-inside: 4;
  --gap-inside-space: 6;
  --gap-none: 0;
  --gap-page-space: 24;
  --icon-boldness: Standard;
  --line-height-big: 32;
  --line-height-huge: 52;
  --line-height-large: 46;
  --line-height-max: 44;
  --line-height-middle: 28;
  --line-height-regular: 24;
  --line-height-semilarge: 38;
  --line-height-small: 20;
  --line-height-tiny: 16;
  --nb-color-bg: var(--control-normal-lightBackground-white);
  --nb-color-border: var(--border-normal-light);
  --nb-color-border-strong: var(--border-normal-primary);
  --nb-color-danger: var(--control-fail-Background);
  --nb-color-danger-active: var(--error-10);
  --nb-color-danger-fg: var(--text-normal-title-white);
  --nb-color-danger-hover: var(--error-9);
  --nb-color-danger-soft: var(--box-fail-lightBackground);
  --nb-color-danger-soft-active: var(--error-3);
  --nb-color-danger-soft-hover: var(--error-2);
  --nb-color-fg: var(--text-normal-title-black);
  --nb-color-input-bg: var(--control-normal-lightBackground-white);
  --nb-color-muted: var(--control-normal-lightBackground-white);
  --nb-color-muted-active: var(--neutral-8);
  --nb-color-muted-fg: var(--text-normal-text-black);
  --nb-color-muted-hover: var(--neutral-7);
  --nb-color-primary: var(--control-theme-Background);
  --nb-color-primary-active: var(--primary-8);
  --nb-color-primary-fg: var(--text-normal-title-white);
  --nb-color-primary-hover: var(--primary-7);
  --nb-color-primary-ink: var(--text-theme-primary-black);
  --nb-color-primary-soft: var(--control-theme-lightBackground);
  --nb-color-primary-soft-active: var(--primary-4);
  --nb-color-primary-soft-hover: var(--primary-3);
  --nb-color-ring: var(--control-theme-lightBackground);
  /* --nb-color-special: var(--control-infomation-Background);
  --nb-color-special-active: var(--info-10);
  --nb-color-special-fg: var(--text-normal-title-white);
  --nb-color-special-hover: var(--info-9);
  --nb-color-special-ink: var(--text-infomation-primary-black);
  --nb-color-special-soft: var(--box-infomation-lightBackground);
  --nb-color-special-soft-active: var(--info-3);
  --nb-color-special-soft-hover: var(--info-2); */
  --nb-color-surface: var(--control-normal-lightBackground-whiteOnly);
  --nb-color-surface-active: var(--neutral-4);
  --nb-color-surface-hover: var(--neutral-3);
  --normal-background-theme: var(--primary-1);
  --padding-big: 14px;
  --padding-default: 8px;
  --padding-large: 18px;
  --padding-max: 28px;
  --padding-middle: 10px;
  --padding-min: 2px;
  --padding-none: 0px;
  --padding-small: 6px;
  --padding-tiny: 4px;
  --size-big: 20;
  --size-huge: 30;
  --size-large: 26;
  --size-max: 38;
  --size-middle: 20;
  --size-regular: 18;
  --size-semilarge: 22;
  --size-small: 16;
  --size-tiny: 12;
  --text-fail-light-black: var(--error-2);
  --text-fail-primary-black: var(--error-8);
  --text-fail-secondary-black: var(--error-4);
  --text-infomation-light-black: var(--info-2);
  --text-infomation-primary-black: var(--info-8);
  --text-infomation-secondary-black: var(--info-4);
  --text-normal-text-black: var(--gray-9);
  --text-normal-text-caption-black: var(--gray-6);
  --text-normal-text-caption-white: var(--gray-1);
  --text-normal-text-white: var(--gray-1);
  --text-normal-title-black: var(--gray-11);
  --text-normal-title-white: var(--gray-1);
  --text-success-light-black: var(--success-2);
  --text-success-primary-black: var(--success-8);
  --text-success-secondary-black: var(--success-4);
  --text-theme-light-black: var(--primary-2);
  --text-theme-primary-black: var(--primary-8);
  --text-theme-secondary-black: var(--primary-4);
  --text-warning-light-black: var(--warning-3);
  --text-warning-primary-black: var(--warning-8);
  --text-warning-secondary-black: var(--warning-4);
  --transparency-disable: 55;
  --transparency-loading: 60;
  --transparency-placeholder: 60;
}

:root[data-theme="light"] {
  --control-fail-Background: var(--error-8);
  --control-fail-lightBackground: var(--error-2);
  --control-infomation-Background: var(--info-8);
  --control-infomation-lightBackground: var(--info-2);
  --control-normal-Background-black: var(--gray-3);
  --control-normal-Background-blackOnly: var(--gray-12);
  --control-normal-lightBackground-black: var(--neutral-7);
  --control-normal-lightBackground-white: var(--neutral-4);
  --control-normal-lightBackground-whiteOnly: var(--neutral-1);
  --control-success-Background: var(--success-8);
  --control-success-lightBackground: var(--success-2);
  --control-theme-Background: var(--primary-6);
  --control-theme-lightBackground: var(--primary-2);
  --control-warning-Background: var(--warning-8);
  --control-warning-lightBackground: var(--warning-2);
  --error-1: #ffede6;
  --error-10: #c6161c;
  --error-11: #b2000f;
  --error-12: #9f0000;
  --error-2: #ffc7b3;
  --error-3: #ff9c83;
  --error-4: #ff8a73;
  --error-5: #ff7964;
  --error-6: #ff6755;
  --error-7: #ff5646;
  --error-8: #ed4338;
  --error-9: #d92f2a;
  --gray-1: #ffffff;
  --gray-10: #454241;
  --gray-11: #312d2c;
  --gray-12: #1c1817;
  --gray-2: #eaeaea;
  --gray-3: #d6d5d5;
  --gray-4: #c1c0c0;
  --gray-5: #acabab;
  --gray-6: #989696;
  --gray-7: #838180;
  --gray-8: #6f6c6b;
  --gray-9: #5a5756;
  --info-1: #eff7ff;
  --info-10: #0566ae;
  --info-11: #00589d;
  --info-12: #004a8d;
  --info-2: #cbe6ff;
  --info-3: #9fd6ff;
  --info-4: #8dc5ff;
  --info-5: #7bb5ff;
  --info-6: #69a4f2;
  --info-7: #5694e1;
  --info-8: #4284d0;
  --info-9: #2b75bf;
  --neutral-1: #ffffff;
  --neutral-2: #fefbfa;
  --neutral-3: #fcf7f6;
  --neutral-4: #fbf3f1;
  --neutral-5: #faefed;
  --neutral-6: #f9ebe8;
  --neutral-7: #f7e7e4;
  --neutral-8: #f6e3df;
  --primary-1: #ffe2cf;
  --primary-10: #a70000;
  --primary-11: #920000;
  --primary-12: #7d0000;
  --primary-2: #ffb790;
  --primary-3: #ff9669;
  --primary-4: #ff8258;
  --primary-5: #ff6f47;
  --primary-6: #ff5c36;
  --primary-7: #e94825;
  --primary-8: #d33314;
  --primary-9: #bd1b01;
  --success-1: #e8fbed;
  --success-10: #007439;
  --success-11: #00642b;
  --success-12: #00551e;
  --success-2: #b7f3c8;
  --success-3: #82e9a4;
  --success-4: #71d794;
  --success-5: #5fc684;
  --success-6: #4eb574;
  --success-7: #3ba565;
  --success-8: #279456;
  --success-9: #0a8447;
  --warning-1: #fff3d9;
  --warning-10: #945500;
  --warning-11: #824700;
  --warning-12: #723800;
  --warning-2: #ffdb8d;
  --warning-3: #ffc338;
  --warning-4: #ffb224;
  --warning-5: #f1a204;
  --warning-6: #de9200;
  --warning-7: #cb8200;
  --warning-8: #b87300;
  --warning-9: #a66400;
}

:root[data-theme="dark"] {
  --control-fail-Background: var(--error-8);
  --control-fail-lightBackground: var(--error-2);
  --control-infomation-Background: var(--info-8);
  --control-infomation-lightBackground: var(--info-2);
  --control-normal-Background-black: var(--gray-3);
  --control-normal-Background-blackOnly: var(--gray-12);
  --control-normal-lightBackground-black: var(--neutral-7);
  --control-normal-lightBackground-white: var(--neutral-4);
  --control-normal-lightBackground-whiteOnly: var(--neutral-1);
  --control-success-Background: var(--success-8);
  --control-success-lightBackground: var(--success-2);
  --control-theme-Background: var(--primary-6);
  --control-theme-lightBackground: var(--primary-2);
  --control-warning-Background: var(--warning-8);
  --control-warning-lightBackground: var(--warning-2);
  --error-1: #9f0000;
  --error-10: #ff9c83;
  --error-11: #ffc7b3;
  --error-12: #ffede6;
  --error-2: #b2000f;
  --error-3: #c6161c;
  --error-4: #d92f2a;
  --error-5: #ed4338;
  --error-6: #ff5646;
  --error-7: #ff6755;
  --error-8: #ff7964;
  --error-9: #ff8a73;
  --gray-1: #1c1817;
  --gray-10: #d6d5d5;
  --gray-11: #eaeaea;
  --gray-12: #ffffff;
  --gray-2: #312d2c;
  --gray-3: #454241;
  --gray-4: #5a5756;
  --gray-5: #6f6c6b;
  --gray-6: #838180;
  --gray-7: #989696;
  --gray-8: #acabab;
  --gray-9: #c1c0c0;
  --info-1: #004a8d;
  --info-10: #9fd6ff;
  --info-11: #cbe6ff;
  --info-12: #eff7ff;
  --info-2: #00589d;
  --info-3: #0566ae;
  --info-4: #2b75bf;
  --info-5: #4284d0;
  --info-6: #5694e1;
  --info-7: #69a4f2;
  --info-8: #7bb5ff;
  --info-9: #8dc5ff;
  --neutral-1: #ffffff;
  --neutral-2: #fefbfa;
  --neutral-3: #fcf7f6;
  --neutral-4: #fbf3f1;
  --neutral-5: #faefed;
  --neutral-6: #f9ebe8;
  --neutral-7: #f7e7e4;
  --neutral-8: #f6e3df;
  --primary-1: #7d0000;
  --primary-10: #ff9669;
  --primary-11: #ffb790;
  --primary-12: #ffe2cf;
  --primary-2: #920000;
  --primary-3: #a70000;
  --primary-4: #bd1b01;
  --primary-5: #d33314;
  --primary-6: #e94825;
  --primary-7: #ff5c36;
  --primary-8: #ff6f47;
  --primary-9: #ff8258;
  --success-1: #00551e;
  --success-10: #82e9a4;
  --success-11: #b7f3c8;
  --success-12: #e8fbed;
  --success-2: #00642b;
  --success-3: #007439;
  --success-4: #0a8447;
  --success-5: #279456;
  --success-6: #3ba565;
  --success-7: #4eb574;
  --success-8: #5fc684;
  --success-9: #71d794;
  --warning-1: #723800;
  --warning-10: #ffc338;
  --warning-11: #ffdb8d;
  --warning-12: #fff3d9;
  --warning-2: #824700;
  --warning-3: #945500;
  --warning-4: #a66400;
  --warning-5: #b87300;
  --warning-6: #cb8200;
  --warning-7: #de9200;
  --warning-8: #f1a204;
  --warning-9: #ffb224;
}
